<header class="page-header" role="banner">
    <nav class="primary-nav">
      <ul>
        <li><a href="https://okfn.org">Open Knowledge homepage</a></li>
        <li><a href="{{ site.baseurl }}/">All training</a></li>
        <li><a href="{{ site.baseurl }}/series/">Curricula</a></li>
      </ul>
    </nav>
    <a class="header-logo" href="{{ site.baseurl }}/">
        {% include landscape-full-rgb.svg %}
      </a>  
    <h1 class="page-name">{{ page.title }}</h1>
    <h2 class="page-subtitle">{{ page.description }}</h2>
</header>
