<div class="row eventlisting-container">
    <div class="eventlisting">
        <p class="eventlisting-eventdateandtitle" style="margin-top: 0px">
            <span class="eventlisting-eventtitle"><a href="{{ site.baseurl }}{{ post.permalink }}"
                    class="eventlisting-eventtitle">{{ post.title }}</a></span>
        <p>
            <span class="eventlisting-eventdate" style="font-size: large; color: #4F4F4F">{{ post.date | date: "%d %B
                %Y" }}</span>
            <span class="eventlisting-eventlocation" style="font-size: large; color: #4F4F4F">{{ post.location }}</span>
        </p>
        </p>
        <p class="eventlisting-eventdescription">{{ post.description }}</p>
        <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true"
            href="{{ site.baseurl }}{{ post.permalink }}">Details</a>
    </div>
</div>