---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

#okf-events-a {
    color: #000000;
    }

html {
    font-size: 16px;
}
@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}
@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

body {
    margin: 0;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #231f20;
    text-align: left;
    background-color: #fff;
}

#skip-to-content {
    height: 1px;
    margin: -1px;
    font-size: 1px;
}

.page-header {
    color: #000000;
    text-align: left;
    background-color: #ffffff;
    background-image: none;
    padding: 0;
    margin-bottom: 3rem;
}

.page-header .header-logo svg {
    width: 270px;
}

.primary-nav ul {
    list-style: none;
    display: block;
    float: right;
    font-size: 1.25rem;
}
@media (min-width: 400px) {
    .primary-nav ul {
        float: left;
        margin-top: 0.5rem;
        padding-left: 0;
    }
}
@media (min-width: 576px) {
    .primary-nav ul {
        float: right;
    }
}

.primary-nav li {
    display: inline-block;
    margin: 0 0 0 1rem;
}
@media (min-width: 400px) {
    .primary-nav li {
        display: inline-block;
        font-size: 1rem;
        margin: 0 1rem 0 0;
    }
}
@media (min-width: 576px) {
    .primary-nav li {
        display: block;
        font-size: 1rem;
        margin: 0 0 0 1rem;
    }
}
@media (min-width: 992px) {
    .primary-nav li {
        display: inline-block;
        font-size: 1.3rem;
        margin: 0 1rem 0 0;
    }
}

.primary-nav a {
    text-decoration: none;
    color: #231f20;
    border-bottom: solid 0.15em #00d1ff;
}

.primary-nav a:hover {
    text-decoration: none;
    color: #231f20;
    border-bottom: solid 0.15em #1e6bb8;
}

.page-name {
    font-size: 2rem;
    font-weight: 900;
    padding: 3rem 0 0 0;
    margin: 0;
}

.page-subtitle {
    font-weight: 400;
}

.site-footer {
    color: rgba(0,0,0,.6);
    padding: 3rem 0 2rem;
    font-size: .875rem;
    margin-top: 3rem;
}

.site-footer, html {
    background-color: #f6f6f6;
}

.site-footer .footer-primary {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
}

.site-footer .footer-secondary {
    font-size: .75rem;
    border-top: 2px solid rgba(0,0,0,.4);
    margin-top: 1.5rem;
    padding-top: 1rem;
}

.site-footer .footer-primary .footer-logo svg {
    width: 10.5rem;
}

.site-footer .footer-primary .footer-logo {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    opacity: .9;
}

@media (min-width: 992px) {
    .site-footer .footer-primary .footer-logo {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
}

.site-footer .footer-primary .footer-logo svg .a {
    fill: #939598;
}

.site-footer .footer-primary .footer-logo svg .b {
    fill: #d9dbdc;
}

.site-footer .footer-primary .footer-logo svg .c {
    fill: #231f20;
}

.site-footer .footer-primary .footer-links {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px;
}
@media (min-width: 992px) {
.site-footer .footer-primary .footer-links {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    text-align: right;
    margin: 0;
}
}

.site-footer .footer-primary .footer-links li {
    display: inline-block;
    padding: 7px;
}
@media (min-width: 992px) {
.site-footer .footer-primary .footer-links li {
    display: inline-block;
    padding: 7px;
}
}

.site-footer .license {
    float: left;
    margin-right: 5px;
    display: block;
    text-decoration: none;
}

.site-footer .license svg {
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.site-footer a {
    color: rgba(0,0,0,.9);
    box-shadow: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }}
@media (min-width: 768px) {
        .container {
            max-width: 720px;
        }}
@media (min-width: 992px) {
.container {
    max-width: 960px;
}}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Basic typography */

body {
    margin: 0;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #231f20;
    text-align: left;
    background-color: #fff;
}

main h1, main h2, main h3, main h4 {
    margin-bottom: 1rem;
    color: #231f20;
    font-weight: 900;
    line-height: 1.2;
}

main h1 {
    font-size: 2.5rem;
}

main h2 {
    margin-top: 4rem;
    font-size: 2rem;
}

main h3 {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Basic table organisation */

table {
    border-bottom: 1px solid #000;
}

table, tr {
    margin: 1rem 0 2rem 0;
    border-top: 1px solid #000;
}

td, th {
    padding: 0.2rem 1rem 0.2rem 0;
}

td p, th p {
    margin: 0;    
}

/* Series link */

.series {
    display: inline-block;
    background-color: #d1f7ff;
    padding: 0.5rem;
}
/* Key info panel */

// As single row
.event-details-key-info-panel {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #d1f7ff;
}

// .event-details-key-info-panel {
//     display: block;
//     float: right;
//     width: 40%;
//     padding: 1rem;
//     margin-left: 1rem;
//     margin-bottom: 1rem;
//     background-color: #d1f7ff;
// }
// @media (max-width: 575px) {
//     .event-details-key-info-panel {
//         width: 100%;
//         margin-left: 0;
//     }
// }

main .event-details-key-info-panel h3 {
    background-color: #00d1ff;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 900;
    margin: -1rem -1rem 0 -1rem;
    padding: 0.75rem 1rem;
}

/* Event page blocks */

.before-event, .at-event, .aftersections {
    border: 0.2rem #939598 solid;
    padding: 1rem;
    margin: 3rem 0 0 0;
}

.before-event h2, .at-event h2, .aftersections h2 {
    margin-top: 0;
}

/* Events summary/listing page */

.eventlisting {
    display: block;
    padding: 1.5rem;
    background-color: #D1F7FF;
    margin: 2rem 0;
}

.eventlisting p {
    margin: 0.5rem 0 0 0;
}

.eventlisting-eventdateandtitle {
    font-size: 24pt;
    margin: 0;
}
.eventlisting-eventtitle, .eventlisting-seriestitle a {
    font-weight: 900;
}

.eventlisting-eventtitle {
    margin-right: 1rem;
}

.eventlisting-eventdate {
    margin-right: 1rem;
    display: inline-block;
}

/* Defaults iframe positioning */

iframe {
    align-items: left;
}