---
---

@import "{{ site.theme }}";
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


h1,h2,h3,h4,h5, a{
    font-weight: 300 !important;
}

a{
    text-decoration: none !important;
}
.main{
    margin-top: 4%;
}
#okf-events-a {
    color: #000000;
}


.event-details-key-info-panel-text-left, .event-details-key-info-panel-text-right{
color: #8B9298
}

.event-details-key-info-panel-text-left{
    font-weight: 400;
}

.event-details-key-info-panel-text-right{
    font-weight: 200;
}



.eventlisting, .event-details-key-info-panel{
    background-color: #DDE3EA;
    border-radius: 5px;
    padding: 3% 4% !important;
}

.event-details-key-info-panel{
    padding: 2% 4% !important;

}
.eventlisting-container{
    margin: 1% 0% 2% 0%;
}

.eventlisting-eventdateandtitle{
    margin-bottom: 0em !important;
    font-weight: 300;
}

.eventlisting-eventtitle, #event_title, .event-details-title{
    color: #009AD6 !important;
    font-weight: 400 !important;
    font-size: 24px !important;
}

#event_title{
    margin-bottom: 2% !important;
}

.event-details-h3{
    color: #009AD6;
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 400 !important;
}

.at-event-h3, #event_structure > h3{
    font-weight: 300 !important;
    color: #009AD6;
}


// #event_prerequisites > h4, #event_presurvey > h4, #event_agendashow > h4, #aftersections > h4, #event_preparation > h4, #event_materialsshow > h4{
//     color: #009AD6;
//     font-size: 1.2em;
//     font-weight: 300 !important;
// }

.event-details-title{
    font-size: 20px !important;
    font-weight: 300 !important;
    margin-bottom: 1%;
}

.before-event, .at-event, .aftersections{
    border-radius: 1em;
    border: 2px solid #009AD6;
    padding: 1% 4% 2% 4% !important;
    margin-bottom: 4%;
}

.event-panel-background{
    padding: 2% 3%;
}

.btn-primary{
    background-color: #22B7F8 !important;
    color: #FFF !important;
    padding: 0.2% 3% !important;
    height: 2em !important;
    border-color: #22B7F8 !important;
}
.eventlisting-eventdescription{
    font-size: 1.1em;
    font-weight: 400;
    color: #41484D;
}

.eventlisting-eventdate, .eventlisting-eventlocation{
    color: #71787E;
    font-size: 1em !important;
}

.eventlisting-eventlocation{
    margin-left: 18%;
}

html {
    font-size: 16px;
}

h3{
    font-size: 30px !important;
    color: #007FB1;
}

.serieslisting-title{
    font-size: 22px;
}

.serieslisting-title > a{
    color: #007FB1;
    font-size: 78%;
}


// ///////////////////////////
a {
    display: inline-block;
    position: relative;
    color: #0087ca;
    text-decoration: none;
}


a:not(.footer-logo)::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
a:not(.footer-logo):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.primary-nav a {
    color: #FFF;
}

.primary-nav a:hover {
    text-decoration: none;
    color: #B1FFF1;
    background-size: 0 0.1em, 100% 0.1em;
}

// ///////////////////////////

.bg-image{
    background-image: url("../../assets/img/main.jpeg");
    width:100%;
    padding: 0px;
    margin: 0px;
    background-color: #cccccc; /* Used if the image is unavailable */
    min-height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.ofk-banner{
    width: 100%;
    text-align: left;
    color: #FFF;
    min-height: 300px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background: #007fb173;  /* fallback for old browsers */
    background-size: cover;
    background-repeat: no-repeat;
    padding:6% 8%;
}

.ofk-banner > h1{
    font-size: 36px;
    font-weight: normal !important;
}

.ofk-banner > p{
    font-size: 24px;
    margin-top: 1.2em;
}

body {
    margin: 0;
    font-family: 'Open Sans', Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 11.5pt;
    font-weight: 300;
    line-height: 1.5;
    color: #231f20;
    text-align: left;
    background-color: #fff;
}

#skip-to-content {
    height: 1px;
    margin: -1px;
    font-size: 1px;
}

.page-header {
    color: #000000;
    text-align: left;
    background-color: #00AFF0;
    background-image: none;
    padding: 0;
    height: auto;
    // margin-bottom: 3rem;
}

.page-header .header-logo svg {
    width: 11em;
    margin: 1em auto;
}

.primary-nav ul {
    list-style: none;
    display: block;
    float: right;
    font-size: 1.25rem;
    margin: 1em auto;
}

.primary-nav li {
    display: inline-block;
    margin: 0 0 0 1rem;
}


.page-name {
    font-size: 2rem;
    font-weight: 900;
    padding: 3rem 0 0 0;
    margin: 0;
}

.page-subtitle {
    font-weight: 400;
}

.site-footer {
    color: rgba(0,0,0,.6);
    padding: 3rem 0 2rem;
    font-size: .875rem;
    margin-top: 3rem;
}

.site-footer, html {
    background-color: #f6f6f6;
}

.site-footer .footer-primary {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
}

.site-footer .footer-secondary {
    font-size: .75rem;
    border-top: 2px solid rgba(0,0,0,.4);
    margin-top: 1.5rem;
    padding-top: 1rem;
}

.site-footer .footer-primary .footer-logo svg {
    width: 10.5rem;
}

.site-footer .footer-primary .footer-logo {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    opacity: .9;
}



.site-footer .footer-primary .footer-logo svg .a {
    fill: #939598;
}

.site-footer .footer-primary .footer-logo svg .b {
    fill: #d9dbdc;
}

.site-footer .footer-primary .footer-logo svg .c {
    fill: #231f20;
}

.site-footer .footer-primary .footer-links {
    position: relative;
    // width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px;
}


.site-footer .footer-primary .footer-links li {
    display: inline-block;
    padding: 7px;
}

.site-footer .license {
    float: left;
    margin-right: 5px;
    display: block;
    text-decoration: none;
}

.site-footer .license svg {
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.site-footer a {
    color: rgba(0,0,0,.9);
    box-shadow: none;
}
