---
layout: default
title: OKF Training Series
description: Training events that are part of a wider course, curriculum or series
permalink: /series/
---

Some of our training events are parts of a planned series of curriculum. We imagine that you will get the best from these events if you attend all the events in the series. 

But we don't know everything. If a single event in a series seems useful to you check out the details, the prerequisites listed, and make the decision.

{% assign serieslist = site.pages | where: "layout", "series" | sort %}
{% for node in serieslist %}
    <div class="serieslisting">
    <h2 class="serieslisting-title">
        <a href="{{ site.baseurl }}{{ node.permalink }}">{{ node.title }}</a>
    </h2>
    {% assign eventlist = site.pages | where: page.series, node.title | sort: "date" %}
    {% for node in eventlist %}
        {% if node.layout == "event" %}
            {% if node.series != serieslist.node.title %}

            <div class="eventlisting">
                <p class="eventlisting-eventdateandtitle" style="margin-top: 0px">
                    <span class="eventlisting-eventtitle">
                        <a href="{{ site.baseurl }}{{ node.permalink }}">{{ node.title }}</a>
                    </span>
                    <p>
                        <span class="eventlisting-eventdate" style="font-size: large; color: #4f4f4f">{{ node.date | date: "%d %B %Y" }}</span>
                        <span class="eventlisting-eventlocation" style="font-size: large; color: #4f4f4f">{{ node.location }}</span>
                    </p>
                </p>
                <p class="eventlisting-eventdescription">{{ node.description }}</p>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}