<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

{% include head.html %}

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  {% include header.html %}

  <div id="content" class="container main" role="main">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
        <h5 class="event-okf-strapline">A course from Open Knowledge Foundation</h5>
        <!-- event title -->
        <h2 id="event_title"></h2>   

        {% if page.series %}
          <h5 class="series-title">An event in the <span class="series"><a href="{{ site.baseurl }}{{ page.serieslink }}"><span>{{ page.series }}</span></a></span> series</h5>
        {% endif %}
        
        <!-- livestream link -->
        <div id="event_livestream_show" class="my-4">
          <h5>Livestream available at <span id="event_livestream"></span></h5>
        </div>

        <!-- info panel -->
        <div class="row event-details-key-info-panel">
          <div class="row event-details-title">{{site.data.translations['keyInformation'][page.lang]}}</div>
          <div class="col-3 event-details-key-info-panel-text-left">
            <div class="row">{{site.data.translations['date'][page.lang]}}</div>
            <div class="row">{{site.data.translations['time'][page.lang]}}</div>
            <div class="row">{{site.data.translations['location'][page.lang]}}</div>
            <div class="row">{{site.data.translations['eventLanguage'][page.lang]}}</div>
            <div class="row">{{site.data.translations['costs'][page.lang]}}</div>
            <div class="row">{{site.data.translations['organiser'][page.lang]}}</div>
            <div class="row">{{site.data.translations['childcare'][page.lang]}}</div>
            <div class="row">{{site.data.translations['access'][page.lang]}}</div>
          </div>
          <div class="col-9 event-details-key-info-panel-text-right">
            <div class="row">
              <div class="">
                <span id="event_startdate"></span>
                <span id="event_enddateshow"><span> to </span><span id="event_enddate"></span>
                </span>
              </div>
            </div>
            <div class="row"><span id="event_time"></span></div>
            <div class="row"><span id="event_location"></span></div>
            <div class="row"><span id="event_language"></span></div>
            <div class="row"><span id="event_costs"></span></div>
            <div class="row"><span id="event_organiser"></span></div>
            <div class="row"><span id="event_childcare"></span></div>
            <div class="row"><span id="event_access"></span></div>
          </div>
        </div>
        <br>

        <!-- event summary -->
        <div id="event_summary_show" class="mt-2 mb-4 before-event">
          <div id="event_summary"></div>
        </div>

        <!-- pre, during, post training -->
        <br>
        <div class="accordion" id="event_accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingZero">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseZero" aria-expanded="false" aria-controls="panelsStayOpen-collapseZero">
                <h3 class="event-details-h3">{{site.data.translations['aboutTheEvent'][page.lang]}}</h3>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseZero" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingZero">
              <div class="accordion-body">
                <!-- about the event -->
                <div id="event_about_show">
                  <p id="event_about"></p>
                </div>

                <h4><strong>{{site.data.translations['codeOfConduct'][page.lang]}}</strong></h4>
                <p>{{site.data.translations['governance1'][page.lang]}} <a
                  href="https://okfn.org/about/code-of-conduct/">{{site.data.translations['codeOfConduct'][page.lang]}}</a>. {{site.data.translations['governance2'][page.lang]}}.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                <h3 class="event-details-h3">{{site.data.translations['eventPreparation'][page.lang]}}</h3>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <div id="event_presurvey_show"><h4><strong>{{site.data.translations['preTrainingSurveys'][page.lang]}}</strong></h4><p id="event_presurvey"></p></div>
                <div id="event_preparation_show"><p id="event_preparation"></p></div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <h3 class="event-details-h3 pt-1">{{site.data.translations['atTheEvent'][page.lang]}}</h3>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <div id="event_agenda_show"><h4><strong>{{site.data.translations['agenda'][page.lang]}}</strong></h4><p id="event_agenda"></p></div>
                <div id="event_structure_show"><p id="event_structure"></p></div>
                <div id="event_materials_show"><p id="event_materials"></p></div>
                <div id="event_during_show"><p id="event_during"></p></div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <h3 class="event-details-h3">{{site.data.translations['eventRetrospective'][page.lang]}}</h3>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <div id="event_resources_show"><h4><strong>{{site.data.translations['learningResources'][page.lang]}}</strong></h4><p id="event_resources"></p></div>
                <div id="event_outputs_show"><h4><strong>{{site.data.translations['eventOutputs'][page.lang]}}</strong></h4><p id="event_outputs"></p></div>
                <div id="event_retrospective_show"><p id="event_retrospective"></p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% include footer.html %}
</body>

{% include translate.html %}

</html>