---
layout: default
---

<main id="content" class="container main" role="main">

  <h1>{{ page.title }}</h1>
  <p><strong>{{ page.description }}</strong></p>
  
  {{ content }}

  <h2>Events in this series</h2>
  {% assign eventlist = site.pages | where: "series", page.series | sort: "date" | reverse %}
  {% for node in eventlist %}
      {% if node.layout == 'event' %}
          {% if node.series == page.title %}
          <div class="row eventlisting-container">
          <div class="eventlisting">
                  <p class="eventlisting-eventdateandtitle" style="margin-top: 0px">
                      <!-- <span class="eventlisting-eventtitle">{{ node.title }}</span> -->
                      <span class="eventlisting-eventtitle"><a href="{{ site.baseurl }}{{ node.permalink }}" class="eventlisting-eventtitle">{{ node.title }}</a></span>
                      <p>
                          <span class="eventlisting-eventdate" style="font-size: large; color: #4f4f4f">{{ node.date | date: "%d %B %Y" }}</span>
                          <span class="eventlisting-eventlocation" style="font-size: large; color: #4f4f4f">{{ node.location }}</span>
                      </p>
                  </p>
                  <p class="eventlisting-eventdescription">{{ node.description }}</p>
                  <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true" href="{{ site.baseurl }}{{ node.permalink }}">Details</a>
              </div>
            </div>
          {% endif %}
      {% endif %}
  {% endfor %}

</main>