<!DOCTYPE html>
<html lang="{{ page.lang | default: " en-US" }}">

<head>
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
</head>

<body id="okf-events-a">
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  {% include header.html %}
  <main id="content" class="container main" role="main">

    <h1>{{ page.title }}</h1>
    <p><strong>{{ page.description }}</strong></p>
    
    {{ content }}

    <h2>Events in this series</h2>
    {% assign eventlist = site.pages | where: "series", page.series | sort: "date" %}
    {% for node in eventlist %}
        {% if node.layout == 'event' %}
            {% if node.series == page.title %}
                <div class="eventlisting">
                    <p class="eventlisting-eventdateandtitle" style="margin-top: 0px">
                        <span class="eventlisting-eventtitle">
                            <a href="{{ site.baseurl }}{{ node.permalink }}">{{ node.title }}</a>
                        </span>
                        <p>
                            <span class="eventlisting-eventdate" style="font-size: large; color: #4f4f4f">{{ node.date | date: "%d %B %Y" }}</span>
                            <span class="eventlisting-eventlocation" style="font-size: large; color: #4f4f4f">{{ node.location }}</span>
                        </p>
                    </p>
                    <p class="eventlisting-eventdescription">{{ node.description }}</p>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

  </main>
  {% include footer.html %}
</body>